{{ $fadein := 2 }}
{{ $visible := 4 }}
{{ $param := .Get 0 }}
{{ $localFolder := printf "/static%s/" $param }}

{{ $files := slice }}
{{ range readDir $localFolder }}
  {{ if eq (path.Ext .Name) ".png" }}
    {{ $files = $files | append .Name }}
  {{ end }}
{{ end }}

<style>
  .slider {
    padding-bottom: 70%;
    width: 100%;
    height: 500px;
    position: relative;
  }

  .slider img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  img,
  video {
    aspect-ratio: attr(width) / attr(height);
  }

  .slider img.transparent {
    opacity: 0;
  }
</style>

<div class="slider">
  <img alt='image of some of our clients (dogs)' id='slider-img' loading=lazy src="{{ path.Join $param (index (shuffle $files) 0) }}?nf_resize=fit&w=800&h=600" width="800" height="600" />
  <img alt='image of some of our clients (dogs)' id='slider-next' class='transparent' loading=lazy src='{{ path.Join $param (index (shuffle $files) 0) }}&nf_resize=fit&w=800&h=600'
    width='800' height='600' />
</div>

<script>
  function asyncLoadImg(img, url) {
    return new Promise((res, rej) => {
      img.src = `${url}?nf_resize=fit&w=800&h=600`
      img.onload = () => res(img)
      img.onerror = () => rej(new Error('could not load image'))
    })
  }

  const files = {{ $files }}
  let flip = false
  setInterval(() => {
    let imgCur = document.getElementById('slider-img')
    let img = document.getElementById('slider-next')
    let foo = `${files[Math.floor(Math.random() * files.length)]}`
    if (flip) {
      asyncLoadImg(imgCur, {{ $param }} + `${files[Math.floor(Math.random() * files.length)]}`)
        .then(res => {
          imgCur.classList.toggle('transparent')
          img.classList.toggle('transparent')
        })
    } else {
      asyncLoadImg(img, {{ $param }} + `${files[Math.floor(Math.random() * files.length)]}`)
        .then(res => {
          imgCur.classList.toggle('transparent')
          img.classList.toggle('transparent')
      })
    }
    flip = !flip
  }, 5000)
</script>
