{{ $fadein := 2 }}
{{ $visible := 4 }}
{{ $param := .Get 0 }}
{{ $localFolder := printf "/static%s/" $param }}

{{ $files := readDir $localFolder }}
{{ $numberOfFiles := len $files }}
{{ $animationDuration := mul (add $fadein $visible) $numberOfFiles }}

<style>
    .slider {
        padding-bottom: 70%;
        width: 100%;
        height: 500px;
        position: relative;
    }
    .slider img {
        width: 100%;
        height: auto;
        position: absolute;
        opacity: 0;
        animation: slide infinite {{$animationDuration}}s;
    }
    img, video {
	    aspect-ratio: attr(width) / attr(height);
    }

    {{ $x := div 100.0 $animationDuration }}
    {{ $p0 := 0 }}
    {{ $p1 := mul $x $fadein }}
    {{ $p2 := mul $x (add $fadein $visible) }}
    {{ $p3 := mul $x (add (add $fadein $visible) $fadein) }}

    @keyframes slide {
        {{ $p0 }}% { opacity: 0; }
        {{ $p1 }}% { opacity: 1; }
        {{ $p2 }}% { opacity: 1; }
        {{ $p3 }}% { opacity: 0; }
    }

    {{ range $index, $value := $files }}
    {{ $delay := mul (add $fadein $visible) $index }}
    .slider img:nth-child({{add $index 1}}){animation-delay:{{$delay}}s;}
    {{ end }}
</style>

<div class="slider">
	{{ range (shuffle $files) }}
	<img loading=lazy src="{{ $param }}{{ .Name }}?nf_resize=smartcrop&w=800&h=600" width="800" height="600" />
	{{ end }}
</div>
